{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<div class="section__hero page-width">
	<div class="section-title">
		<h2 class="section-title">Vintage & Thrift</h2>
	</div>

	<div class="hero-collection-grid">
		{% for block in section.blocks %}
			<div class="hero-collection-box">
			 <a href="{{ block.settings.collection.url }}">
					<h2 class="collection-title">{{ block.settings.collection.title }}</h2>
					<div class="bg-image">
						<img src="{{ block.settings.image_bg | img_url:'medium' }}" alt="">
					</div>
					<div class="hover-image">
						<img src="{{ block.settings.image_hover | img_url:'medium' }}" alt="">
					</div>
			 </a>
			</div>
		{% endfor %}
	</div>

</div>




{% schema %}
{
	"name": "Hero",
	"blocks": [
		{
			"type": "collection",
			"limit": 3,
			"name": "Collection",
			"settings": [
				{
					"type": "collection",
					"id": "collection",
					"label": "Collection"
				},
				{
					"type": "image_picker",
					"id": "image_bg",
					"label": "BG Image"
				},
				{
					"type": "image_picker",
					"id": "image_hover",
					"label": "Hover Image"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Hero"
		}
	]
}
{% endschema %}